body {
	padding: 1em;
	font-size: 18px;
}

button,
select,
input {
	font-size: 1.2em;
}

td {
	vertical-align: top;
}

td.table-input {
	padding: 0 1em 1em 1em;
}

td.table-label,
td.table-toggle {
	white-space: nowrap;
	width: 1em;
}
